<div class="container">
  <section class="mt-5 mb-1">
    <div class="row">
      <h1 class="text-center mb-3">Rodokmen</h1>

      <div class="mt-5 ratio ratio-16x9 r1iframe">
        <iframe src="assets/pdf/rodokmen.pdf" type="application/pdf" class="embed-responsive-item w-100"></iframe>
      </div>
    </div>

    <p class="text-center lead mt-5">Dokumentace k rodokmenu</p>

    <div class="mt-5 ratio ratio-16x9 r2iframe">
      <iframe src="assets/pdf/dokumentace_rodokmen.pdf" type="application/pdf"
        class="embed-responsive-item w-100"></iframe>
    </div>

    <p class="text-center mt-5 lead">Podrobnosti o jeho tvorbě</p>

    <div class="mt-5 ratio ratio-16x9 r2iframe">
      <iframe src="assets/pdf/vznik_rodokmenu.pdf" type="application/pdf" class="embed-responsive-item w-100"></iframe>
    </div>
  </section>

  <footer class="d-flex justify-content-center align-items-center">
    <app-footer></app-footer>
  </footer>
  <app-footer-bar></app-footer-bar>
</div>