.resume-link {
  display: inline-block;
  transition: transform 0.15s ease, color 0.15s ease;
}

.resume-link::after {
  content: "↗";
  margin-left: 6px;
  font-size: 0.9em;
  display: inline-block;
  transform: translateY(-1px);
}

.resume-link:hover {
  transform: translateY(-3px);
}

.section-separator {
  margin-bottom: 10rem;;
}