<section id="about" data-section-id="about" class="section-separator">
  <p>
    Hezký den, jmenuji se Tomáš a jsem nadšený programátor ve
    <a href="https://www.verisoft.cz" target="_blank" rel="noopener noreferrer"
      >Verisoft.cz</a
    >.
  </p>
  <p>
    Od poloviny roku 2022 jsem studoval kurz C# .NET junior programátor na
    <a href="https://itnetwork.cz" target="_blank" rel="noopener noreferrer"
      >itnetwork.cz</a
    >, kde jsem úspěšně dokončil všechny lekce včetně závěrečného certifikátu.
    Následně se dále věnuji studiu webového vývoje a moderních technologií
    prostřednictvím kurzů na
    <a
      href="https://www.udemy.com/user/tomas-sobota/"
      target="_blank"
      rel="noopener noreferrer"
      >Udemy</a
    >
    a školení
    <a
      href="https://www.gopas.cz/kurzy"
      target="_blank"
      rel="noopener noreferrer"
      >Gopas</a
    >.
  </p>
  <p>
    Od roku 2023 působím ve společnosti
    <a href="https://www.verisoft.cz" target="_blank" rel="noopener noreferrer"
      >Verisoft</a
    >, kde pracuji na vývoji a rozvoji backendových služeb, datových migrací,
    integračních procesů a interních systémů. Zaměřuji se na ASP.NET Core, SQL
    databáze, datové transformace, optimalizaci výkonu a provoz aplikací v
    prostředí Azure DevOps.
  </p>
  <p>
    Mám také přesah do vývoje v TypeScriptu a Angularu, který využívám pro UI
    úpravy nebo tvorbu komponent, kdy je potřeba propojit backend s frontendem.
  </p>
</section>

<section id="experience" data-section-id="experience" class="section-separator">
  <div class="project-list">
    @for (experience of experiences; track experience.id) {
    <app-project-card
      [title]="experience.title"
      [description]="experience.description"
      [tags]="experience.tags"
      [period]="experience.period ?? ''"
      [imageUrl]="experience.imageUrl"
      [link]="experience.link"
      [dataSourceType]="DataSourceType.Experience"
    />
    }
  </div>
  <div>
    <p>
      <a
        class="resume-link"
        href="assets/pdf/Tomas_Sobota_NET_Developer_CV.pdf"
        target="_blank"
        >Zobrazit celý životopis</a
      >
    </p>
  </div>
</section>

<section id="projects" data-section-id="projects" class="section-separator">
  <div class="project-list">
    @for (project of projects.slice(1); track project.id) {
    <app-project-card
      [title]="project.title"
      [description]="project.description"
      [tags]="project.tags"
      [period]="project.period ?? ''"
      [imageUrl]="project.imageUrl"
      [link]="project.link"
      [dataSourceType]="DataSourceType.Project"
    />
    }
  </div>
  <div>
    <p>
      <a
        class="resume-link"
        href="https://www.linkedin.com/in/tomas-sobota/"
        target="_blank"
        rel="noopener noreferrer"
        >Zobrazit všechny projekty</a
      >
    </p>
  </div>
</section>

<section id="education" data-section-id="education" class="section-separator">
  <div class="project-list">
    @for (education of educations; track education.id) {
    <app-project-card
      [title]="education.title"
      [description]="education.description"
      [tags]="education.tags"
      [period]="education.period ?? ''"
      [imageUrl]="education.imageUrl"
      [link]="education.link"
      [dataSourceType]="DataSourceType.Education"
    />
    }
  </div>
  <div>
    <p>
      <a
        class="resume-link"
        href="https://www.linkedin.com/in/tomas-sobota/details/certifications/"
        target="_blank"
        rel="noopener noreferrer"
        >Zobrazit vše</a
      >
    </p>
  </div>
</section>

<section id="other" data-section-id="other" class="section-separator">
  <div class="project-list">
    @for (other of others; track other.id) {
    <app-project-card
      [title]="other.title"
      [description]="other.description"
      [tags]="other.tags"
      [period]="other.period ?? ''"
      [imageUrl]="other.imageUrl"
      [link]="other.link"
      [dataSourceType]="DataSourceType.Other"
    />
    }
  </div>
</section>
