<section id="about" data-section-id="about" class="mb-5">
  <p>
    Hezký den, jmenuji se Tomáš a jsem nadšený programátor ve
    <a href="https://www.verisoft.cz" target="_blank" rel="noopener noreferrer"
      >Verisoft.cz</a
    >. Od poloviny roku 2022 jsem studoval kurz C# .NET junior programátor na
    itnetwork.cz a všechny příslušné lekce zakončil certifikátem. Dále jsem
    absolvoval lekce spojené s programováním a vývojem webových aplikací. Přes
    barevné dlaždice se dostanete na seznam projektů využívajíchích danou
    technologii. Pokud dáváte přednost rychlému přehledu, navštivte mé anglické,
    případně slovenské stránky.
  </p>
</section>

<div style="height: 5rem"></div>

<section id="experience" data-section-id="experience" class="mb-5">
  <div class="project-list">
    @for (p of experiences; track p.id) {
    <app-project-card
      [title]="p.title"
      [description]="p.description"
      [tags]="p.tags"
      [period]="p.period ?? ''"
      [imageUrl]="p.imageUrl"
      [link]="p.link"
    />
    }
  </div>
  <div>
    <p>
      <a class="resume-link" href="/resume.pdf" target="_blank"
        >Zobrazit celý životopis</a
      >
    </p>
  </div>
</section>

<div style="height: 5rem"></div>

<section id="projects" data-section-id="projects" class="mb-5">
  <div class="project-list">
    @for (p of projects.slice(1); track p.id) {
    <app-project-card
      [title]="p.title"
      [description]="p.description"
      [tags]="p.tags"
      [period]="p.period ?? ''"
      [imageUrl]="p.imageUrl"
      [link]="p.link"
    />
    }
  </div>
  <div>
    <p>
      <a
        class="resume-link"
        href="https://www.linkedin.com/in/tomas-sobota/"
        target="_blank"
        rel="noopener noreferrer"
        >Zobrazit všechny projekty</a
      >
    </p>
  </div>
</section>
<div style="height: 5rem"></div>

<section id="education" data-section-id="education" class="mb-5">
  <div class="project-list">
    @for (p of educations; track p.id) {
    <app-project-card
      [title]="p.title"
      [description]="p.description"
      s
      [tags]="p.tags"
      [period]="p.period ?? ''"
      [imageUrl]="p.imageUrl"
      [link]="p.link"
    />
    }
  </div>
  <div>
    <p>
      <a
        class="resume-link"
        href="https://www.linkedin.com/in/tomas-sobota/details/certifications/"
        target="_blank"
        rel="noopener noreferrer"
        >Zobrazit vše</a
      >
    </p>
  </div>
</section>
<div style="height: 5rem"></div>
