<div class="container">
  <div class="row">
    <section class="knowledge">
      <a class="course-page__back" routerLink="/">Zpět</a>

      <h1 class="knowledge__title text-center my-5">Kurzy</h1>

      <article class="knowledge-card">
        <ul class="knowledge-list">
          <li>
            <a routerLink="/knowledge/course-blazor"
              >Blazor Deep Dive: From Beginner to Advanced</a
            >
          </li>
          <li>
            <a routerLink="/knowledge/course-azure"
              >Microsoft Azure - The Complete Guide</a
            >
          </li>
          <li>
            <a routerLink="/knowledge/course-angular"
              >Angular - The Complete Guide</a
            >
          </li>
          <li>
            <a routerLink="/knowledge/course-mssql"
              >Kompletní administrace Microsoft SQL Serveru</a
            >
          </li>
          <li>
            <a routerLink="/knowledge/course-powerbi">Power BI</a>
          </li>
          <li>
            <a routerLink="/knowledge/course-docker">Docker</a>
          </li>
        </ul>
      </article>
    </section>
  </div>
  <app-footer-bar></app-footer-bar>
</div>
