.shell {
  min-height: 90vh;
}

.shell_sidebar {
  position: sticky;
  top: 0; 
  height: 90vh;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 3rem;
}

.shell_content {
  padding-top: 5rem;
  padding-right: 5rem;
}

@media (max-width: 900px) {
  .shell {
    margin-top: 0;
    padding: 1.5rem 1.25rem; 
  }

  .shell_sidebar {
    position: relative;
    text-align: left;
    height: auto;
    padding-top: 2rem;
  }
}