.shell {
  min-height: 100vh;
}

.shell_sidebar {
  position: sticky;
  top: 0;              // přilepené k hornímu okraji
  height: 99vh;       // opticky přes celou výšku
}

.shell_content {
  padding-left: 3rem;
  padding-right: 2rem;
  padding-bottom: 4rem;
}
