.shell {
  min-height: 100vh;
}

.shell_sidebar {
  position: sticky;
  top: 0; 
  height: 100vh;
  padding-top: 5rem;
  padding-left: 10rem;
}

.shell_content {
  padding-top: 5rem;
  padding-right: 6rem;
}
