.shell {
  min-height: 100vh;   // přes celou výšku
}

.shell__sidebar {
  position: sticky;
  top: 0;              // přilepené k hornímu okraji
  align-self: flex-start;
  height: 99vh;       // opticky přes celou výšku
    padding-top: 5rem;
      padding-left: 12rem;


}

.shell__content {
  padding-right: 10rem;
  padding-top: 5rem;
}