.shell {
  min-height: 100vh;
}

.shell_sidebar {
  position: sticky;
  top: 0; 
  height: 100vh;
  padding-top: 5rem;
  padding-left: 1rem;
  padding-right: 3rem;
}

.shell_content {
  padding-top: 5rem;
  padding-right: 5rem;
}
